*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.limit_grow{
    max-width: 1000px;
    margin:0 auto;
    
}
header{
    height:100px;
}
header .logo-container{
    padding-left:30px;
}

header .logo-container img{
    width:140px;
    height:auto;
}


.background:before {
    height:500px;
}


.icons a{
    margin:0 10px;
    color:white;
}
.icons span{
    font-size:30px;
}
.hero{
    display:flex;
    flex-direction: column;
    height:500px;
    align-items:center;
    justify-content:center;
}
.hero__text{
    margin:0;
    
}
.hero__text h1{
    font-size:60px;
}
.hero__text p{
    font-size:30px;
}
.events h2{
    font-size: 45px;
    padding:30px 0px 30px;
}
.events-slider-container{
    width:50%;
}
::-webkit-scrollbar{
    display:inline-block;
    width:7px;
    background-color: #F4CD2F;
   
}
::-webkit-scrollbar-thumb{
    background:#222251;
}
.posts-post-container{
    margin:0 50px;
}
.posts-post-container div{
    margin:auto;
    justify-content:space-between;
    align-items: baseline;
}
.posts-post-container h3{
    margin-top:20px;
    margin-bottom:20px;
    padding-top:40px;
    font-size:45px;
    
}
.posts-post-container .post-container{
    max-width:28%;
    padding-bottom:0px;
}
.posts-post-container .post-container h4{
    font-size: 16px;

}
.posts-post-container .post-container p{
    font-size:16px;
}

footer{
    height:120px;
}

footer .icons span{
    font-size:30px;
}