
.background{
    background-image: url(../assets/img/barco_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    padding-top:20px;
}
header .logo-container{
    padding-top:30px;
    padding-left:30px;
}
header .header-icons-container{
    padding-right:30px;  
}
header .logo-container img{
    width:140px;
    height:auto;
}
.hero{
    height:500px;
}
.hero div{
    position:relative;
    grid-column: 2/8;
    grid-row: 2/4;
    margin:0;
}
.hero div h1{
    font-size:70px;
    line-height:normal;  
    align-self:flex-start;
}
.hero div p{
    font-size:30px;
}
.services{
    width:100%;
}
.services .services-title{
    font-size: 30px;
    padding-top:30px;
}
.services .services-container--cards{
    padding:30px;
}
.services .services-container--cards .cards{
    width:40%;
    min-width:424px;
    height:200px;
}
