body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:'Exo 2', sans-serif;
}
.home-body{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.grid-container{
    max-width:980px;
    margin:auto;
}

a{
    text-decoration:none;
    display:inline-block;
    color: black;
}
header{
    width:100%;
    min-width: 320px;
    height:120px;
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.header-icons-container{
    width:100%;
    height:50px;
    display:grid;
    background-color: #222251;
    
}
header .header-icons-container .icons{
    width: 200px;
    height: auto;
    display:flex;
    justify-items: flex-end;
    align-items: center;
    justify-content:space-between;
    justify-self:end;
    margin-right:50px;
}
.icons a{
    width:auto;
    padding:5px;
}

header .icons span{
    color: white;
    font-size:25px;
}
nav {
    display:grid;
    grid-template-columns:1fr 1fr;
    height:70px;
}
nav .nav-logo-container{
    display:flex;
    margin-left:50px;
    align-items: center;
}
nav .profile-link{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin-right:50px;
}
nav .nav-logo-container img{
    width:120px;
    height:auto;
    justify-self: center;
}
nav .profile-link a{
    font-weight: bold;
    color:black;
    border-bottom:1px solid black;
}


.home-main{
    position:relative;
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    justify-items: center;
    align-items: center;
    background-image: url(../assets/img/barco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home-main:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}
.home-main h1{
    position:relative;
    width:60%;
    height:100px;
    margin: 0 auto;
    padding: 50px;
    padding-top:100px;
    text-align: center;
    font-size:40px;
    color:white;
}
.home-main button{
    position:relative;
    width:150px;
    height:40px;
    font-size:20px;
    font-weight:bold;
    background-color:#F4CD2F;
    color:#222251;
    border-radius:10px;
    border:transparent;    
}
.posts-main{
    display:grid;
    
}
.posts-news-container{
    background-color:#e6e9ed;
    padding:0px 50px 40px;
}
.posts-main-new{
    display:grid;
    grid-template-columns:1.2fr 0.8fr;
    grid-template-rows: 2fr;
}
.posts-main-new h3{
    
    font-size:25px;
}
.posts-news-img-container{
    display:grid;
    grid-column:1;
}
.posts-news-img-container img{
    width:80%;
    max-width:380px;
    height:auto;
    justify-self: center;
}
.posts-news-info-container{
    max-width: 80%;
    max-height: 50%;
    grid-column:2;

}
.posts-button{
    border: 1px solid #222251;
    padding:10px 15px;
    font-size:12px;
}
.posts-news-info-container p{
    margin-bottom:35px;
    text-align:justify;
}
.posts-news-info-container h2{
    margin:0;
}
.posts-post-container .posts-infografías{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:10px 0px;
    justify-content:space-around;
    align-items: baseline;

}
.posts-post-container h3{
    grid-column:1/4;
    border-bottom: 1px solid #222251;
    padding-bottom:20px;
    text-align: center;
    font-size:25px
}
.posts-post-container .post-container{
    max-width:30%;
    margin-bottom: 50px;

}
.posts-post-container .post-container p{
    margin-bottom:35px;
    text-align: justify;
}
.posts-post-container .post-container img{
    width:100%;

    
}
footer{
    width:100%;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#222251;
    border-top: 35px solid #F4CD2F;
}
footer .icons {
    width:200px;
    display:flex;
    justify-content:space-between;
  
}
footer .icons span{
    color: white;
    font-size:25px;
}

.blogpost-img-container{
    width:50%;
    padding:20px;
    margin:0 auto;

}
.blogpost-img-container img{
    width:70%;
    margin:0 15%;
}
.blogpost-main-container{
    width:90%;
    margin: 0 auto;
    padding-bottom:50px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid #222251;
    padding-bottom:10px;

}
.blogpost-main-container article h1{
    font-size:30px;
}
.contact-main{
    width:100%;
    background-color:#e6e9ed;
}
.contact-main .contact-main-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:90%;
    padding-bottom:50px;
    padding-top:40px;
    padding:40px 20px 50px;
}

.contact-main-container .contact-left{
    
    display:flex;
    flex-direction:row;
}
.contact-main-container .contact-right{
    
    display:flex;
    flex-direction:row;
}

.contact-main-container .contact-left img{
    width:80px;
    height:fit-content;
}
.contact-main-container .contact-left div{
    margin-left: 20px;
}

.contact-main-container .contact-left div p{
    width:200px;
    margin-top:10px;
}
.contact-main-container .contact-left div a{
    display: inline-block;
    padding-bottom:3px;
    border-bottom: 1px solid #222251;
}
.contact-main-container .contact-right div a{
    display: inline-block;
    padding-bottom:3px;
    border-bottom: 1px solid #222251;
}
.contact-main-container .contact-right img{
    width:80px;
    height:fit-content;
}
.contact-main-container .contact-right div{
    margin-left: 20px;
}
.contact-main-container .contact-right div p{
    width:200px;
    margin-top:10px;
}
