*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:'Exo 2', sans-serif;;
}
a{
    text-decoration:none;
    color: black;
}
.background{
    background-image: url(../assets/img/barco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    position:relative;
    width:100%;
    min-width:320px;
    height:60px;
    display:flex;
    align-items: center;
    
}
header .logo-container{
    position:relative;
    width:50%;
    display:flex;
    align-items: center;
    justify-items:flex-start;
    padding-top:15px;
    padding-left:20px;
}
header .logo-container img{
    position:relative;
    width:120px;
    height:auto;
    align-self:center;
}

header .header-icons-container{
    position:relative;
    display:flex;
    width:50%;
    height:65px;  
    padding-right:20px;  
}
header .header-icons-container .icons{
    position:relative;
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-end;
    
}
header .icons a{
    width:auto;
    padding:5px;
}

header .icons span{
    position:relative;
    color:white;
    font-size:25px;
}

.background:before {
    height:300px;
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}

.hero{
    position:relative;
    display:flex;
    width:100%;
    min-width:320px;
    height:300px;
    justify-content: center;
}
.hero div{
    position:relative;
    margin:0 20px;
}
.hero div h1{
    margin:0;
    padding-top:40px;
    font-size:40px;
    font-family: 'Exo 2', sans-serif;
    color:white;

    
}
.hero div p{
    margin:0;
    padding-top:10px;
    padding-left:5px;
    font-size:20px;
    font-family: 'Exo 2', sans-serif;
    color:white;
}
/* --------------------------- */
.events{
    width:100%;
    padding:20px 50px;
    border-bottom: 1px solid #222251;
}
.events h2{
    font-size: 25px;
    color:#222251;
    text-align: center;
    padding:0px 0px 20px;
}
.events .events-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.events .events-container figure{
    width: 90%;
    min-width: 300px;
    margin-bottom:20px;
}
.events .events-container figure img{
    width:100%;
    border-radius:10px;
}

/* -------------------------- */
.posts-main{
    display:grid;
}
.posts-news-container{
    background-color:#e6e9ed;
    padding:40px 50px 40px;
}

.posts-button{
    border: 1px solid #222251;
    padding:10px 15px;
    font-size:12px;

}

.posts-post-container div{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:10px 20px;
    justify-content:center;

}
.posts-post-container h3{
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:20px;
    padding-top:20px;
    text-align: center;
    font-size:25px;
    color:#222251;

    
}
.posts-post-container .post-container{
    max-width:90%;
    padding-bottom:20px;
    margin-bottom: 50px;
}
.posts-post-container .post-container h4{
    margin-top:20px;

}
.posts-post-container .post-container p{
    margin-top:15px;
    margin-bottom:35px;
    text-align:justify;
}
.posts-post-container .post-container img{
    width:100%;
}
footer{
    width:100%;
    height:90px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#222251;
    border-top: 25px solid #F4CD2F;
}
footer .icons {
    width:200px;
    display:flex;
    justify-content:space-between;
  
}
footer .icons span{
    color: white;
    font-size:25px;
}
