*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
    color: black;
}
.background{
    background-image: url(../assets/img/barco_mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    width:100%;
    min-width:320px;
    height:60px;
    display:flex;
    
}
header .logo-container{
    width:50%;
    display:flex;
    align-items: center;
    justify-items:flex-start;
    padding-top:15px;
    padding-left:20px;
}
header .logo-container img{
    width:120px;
    height:auto;
    align-self:center;
}

header .header-icons-container{
    display:flex;
    width:50%;
    height:65px;  
    padding-right:20px;  
}
header .header-icons-container .icons{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:flex-end;
    
}
header .icons a{
    width:auto;
    padding:5px;
}

header .icons span{
    color: #222251;
    font-size:30px;
}

.background:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.2);
}
.hero{
    position:relative;
    display:grid;
    width:100%;
    min-width:320px;
    height:300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    align-items:center;
}
.hero div{
    position:relative;
    grid-column: 2/8;
    grid-row: 2/4;
    margin:0;
}
.hero div h1{
    margin:0;
    font-size:50px;
    font-family: 'Exo 2', sans-serif;
    color:white;
    line-height:50px;   
}
.hero div p{
    margin:0;
    padding-top:10px;
    padding-left:5px;
    font-size:20px;
    font-family: 'Exo 2', sans-serif;
    color:white;
}
.services{
    background-color:white;
    width:100%;
}
.services .services-title{
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    text-align: center;
    padding:30px 20px 0px 20px;
    color:#222251;

}
.services .services-container--cards{
    display:flex;
    flex-wrap: wrap;
    padding:30px;
    padding-top:20px;
    justify-content:center
}
.services .services-container--cards .cards{
    width:80%;
    height:150px;
    margin:20px;
    background-color:rgb(246, 246, 246);
    border-radius: 21px;
    box-shadow:  4px 4px 8px #d3d3d3,
                 -3px -3px 6px #ededed;
}
